{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{%static 'css/mainCSS/Login.css '%}">
        <link rel="stylesheet" href="{%static 'css/UserCSS/headers.css '%}">

        <script src="{%static 'js/mainJS/Login.js '%}"></script>
        
        
    </head>
<body>

    <!-- Header Section -->
    <header>
        <div id="header-bar" class="header-bar">
       <!-- Logo Section -->
           <div class="logo">
            <a href="{% url 'index' %}">
            <img src="{%static 'image/logo.jpeg'%}" alt="Logo">
        </a>
           </div>
       
       <!-- Account Icons  -->

            <div class="account">
           <ul>
                <li><a href="{% url 'Login' %}">Login</a></li>
                <li><a href="{% url 'Sign_Up' %}">SignUp</a></li>
           </ul>
            </div>
       </div>
       
       <!-- Navigation Section -->
       <nav id="navigation-bar" class="navigation-bar">
           <ul>
               <li><a href="{% url 'index' %}">Home</a></li>
               <li><a href="{% url 'Login' %}">Available Books</a></li>
               <li><a href="{% url 'Login' %}">Advanced Search </a></li>

           </ul>
       </nav>

   
         
   </header>
        <div class = "content">      
            <div id="Login">
              <p><h2>Login</h2></p>
            </div>
        
            <form class = "login-form" onsubmit="return submitForm(event)">
                <div>
                    <label>Username</label>
                    <input type="text" id="user_name" required placeholder="Enter username...">
                </div>
            <br>
                <div> 
                    <label>Password</label>
                    <input type="password" id="password" required minlength="10" maxlength="20" 
                        placeholder="Enter password... " >
                </div>

                <span class="container"> 
                    <input id="check" type="checkbox">
                    <label for="check">Admin?</label>
                </span>

                <input type="submit" value="Submit" onclick="return validateInputs();">
            <br>
                <p>Don't have an account ? <a href= " {% url 'Sign_Up' %}">Sign Up</a></p>
            </form>      
        </div>
        <hr>


        <hr>
        <footer>

            <div class="site-footer_social">
                <h4 class="Big">connect with ReadCycle :</h4>
                <br>
                <a href="https://www.facebook.com" target="_blank"><img src="{%static 'image/social_media/facebook.png'%}" alt="Facebook"  width ="30px" height="30px"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="{%static 'image/social_media/twitter.png'%}" alt="Twitter"   width ="30px" height="30px"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="{%static 'image/social_media/insta.png'%}"alt="Instagram"   width ="30px" height="30px"></a>
            <a href="https://www.linkedin.com" target="_blank"><img src="{%static 'image/social_media/linkdin.png'%}" alt="LinkedIn"   width ="30px" height="30px"></a>
        </div>
        
    
            <div class="discover">
                <h4 class="Big">Discover :</h4>
                <br>
                <ul class="wq">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'Login' %}" onclick="return alertUser();">Available Books</a></li>
                    <li><a href="#top">Return to Top</a></li>
    
                </ul>
            </div>
    
            
            <div class="website-by">
                <h4 class="Big">Website by : </h4>
                <br>
                <ul class="wq">
                    <li>Mohamed Rabea Mohamed / 20220424</li>
                    <li>Mahmoud Mustafa Anas / 20220323</li>
                    <li>Ahmed Abdelaziz Ahmed / 20220025</li>
                    <li>Raghd Ahmed Mohamed / 20221059</li>
                    <li>Basant Shaker Ahmed / 20221037</li>
                    <li>Rana Esmail Zekry Moawad / 20220131</li>
                </ul>
            </div>
        </footer>

    </body>
</html>
