/* Global body background */
body {
    background-image: url('https://img.freepik.com/premium-photo/blurred-bookshelf-library-room-education_1025277-2014.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover; /* Ensure the image covers the whole area */
    background-repeat: no-repeat;
    background :blur(10px) ;
}

/* Search header styles */
h1 {
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-top: 100px;
}

/* Search bar styles */
.main-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background :blur (9px);
    margin-bottom: 70px;

}

.main-search-bar form {
    display: flex;
}
.main-search-bar select {
    background-color:  #4d2e24; /* Change the background color */
    color: #fcfcfc; /* Change the text color */
    width: 95px; /* Adjust the width as needed */
}
.main-search-bar input,
.main-search-bar select,
.main-search-bar button {
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    height: 36px;
}

.main-search-bar input {
    width: 500px;
}

.main-search-bar button {
    width: 70px;
    background-color: wheat;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffa500;
    transform: scale(1.1);
}

/* Match not found message */
#match-not-found {
    color: red;
    font-size: 60px;
    text-align: center;
    display: none; /* Initially hidden */
}

/* Book list styles */
.books {
    margin-left: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}

/* Individual book styles */
.book-card {
    width: 30%; /* Adjust the width based on layout */
    margin-bottom: 15px;
    padding: 15px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(237, 226, 183, 0.577);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
}

/* Book title styles */
#name {
    font-size: 16px;
    color: #653;
}

.book-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

#author {
    font-size: 14px;
    color: #666;
}

#type {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
