 {% load static %}
<!DOCTYPE html>
<head>
    <title>Add New Book</title>
{#    <link rel="stylesheet" href="AdminCSS/Add_Book.css">#}

    <meta name="keywords" content="library, books, reading">
    <meta name="description" content="ReadCycle Library - Your gateway to a world of books">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/Add_Book.css/' %}">


</head>
<body>




    <!-- Background image -->
   <div class="background-container">
        <img src="{%static 'image/ss.jpeg'%}" alt="Background Image">
    </div>



<!-- Header Section -->
<header id="header-bar" class="header-bar">

    <!-- logo Section -->
    <div class="logo-component">
        <a href="{% url 'admin_HomePage' %}" title="ReadCycle Library">
            <div class="logo-txt">
                <img class="logo-icon" src="{%static 'image/logo.jpeg'%}"  alt="ReadCycle logo" >
            </div>
        </a>
    </div>


    <!-- search Section -->
    <div class="container">
        <div class="search-container">
            <select id="searchType">
                <option value="ALL">ALL</option>
                <option value="title">Title</option>
                <option value="author">Author</option>
                <option value="category">Category</option>
            </select>
            <input type="text" id="searchInput" placeholder="Search...">
            <a href="../user/Search_books.html"> <button>Search</button></a>
        </div>
        <div id="searchResults">
            <!-- Search results will be displayed here -->
        </div>
    </div>

    <!-- authentication Section -->
    <ul class="auth-component">
        <li class="hide-me"><a class="btn" href="{% url 'index' %}">Log out</a></li>
    </ul>

</header>


<!-- Navigation Bar -->
<nav id="navigation-bar" class="navigation-bar">

    <ul>
            <li>  <a href="./">Admin Page</a>&nbsp;</li>
            <li>  <a href="ViewBook_List" >View Book List</a>&nbsp;</li>
            <li>  <a href="EditBook" >Edit Book details</a>&nbsp;</li>
            <li>  <a href="DeleteBook" >Delete Book</a></li>
            <li> <a href="AddBook" >Add New book</a></li>
    </ul>
</nav>









<!--Main content-->
<div class="w2">
    <main>
    <div class="title">
        <div>
        <h1> Add New book </h1>
        <h6> Home / Admin / Add book </h6>
        </div>
    </div>
    <div>


        <form action="" method="post" class="addForm" enctype="multipart/form-data">
{#      <form action="{% url 'add_book_view' %}" method="post" class="addForm" enctype="multipart/form-data">#}
            <div>
              <label class="addLabel"> Book Name </label>
              <input type="text" placeholder="Book Name" required class="addInput" id="BookName">
            </div>

            <div>
              <label>ID</label>
              <input type="number" id="BookID" placeholder="Book ID" required>
            </div>

            <div>
              <label>Author</label>
              <input type="text" placeholder="Author" required id="BookAuthor">
            </div>

            <div>
              <label>Category</label>
              <select name="category" required id="BookCat">
                <option value="Art">Art</option>
                <option value="History">History</option>
                <option value="Science">Science</option>
                <option value="Technology">Technology</option>
                <option value="Language">Language</option>
                <option value="Psychology">Psychology</option>
              </select>
            </div>

            <div>
              <label>Description</label>
              <input type="text" placeholder="Description" required id="BookDesc">
            </div>

            <!-- New part for image upload -->
            <div>
              <label>Book Cover Image</label>
              <input type="text" id="BookImage" placeholder="Book cover URL">
            </div>

            <button type="submit" class="addButton">ADD BOOK</button>
      </form>

    </div>


</main>
</div>





<!-- footer -->
<footer>

    <div class="site-footer_social">
        <h4 class="Big">connect with ReadCycle :</h4>
        <br>
        <a href="https://www.facebook.com" target="_blank"><img src="{%static 'image/social_media/facebook.png'%}" alt="Facebook"  width ="30px" height="30px"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="{%static 'image/social_media/twitter.png'%}" alt="Twitter"   width ="30px" height="30px"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="{%static 'image/social_media/insta.png'%}"alt="Instagram"   width ="30px" height="30px"></a>
        <a href="https://www.linkedin.com" target="_blank"><img src="{%static 'image/social_media/linkdin.png'%}" alt="LinkedIn"   width ="30px" height="30px"></a>
    </div>




    <div class="discover">
        <h4 class="Big">Discover :</h4>
        <br>
        <ul class="wq">
            <li><a href="../main/index.html">Main HomePage</a></li>
            <li><a href="ViewBook_List">Books</a></li>
            <li><a href="AddBook">Return to Top</a></li>

        </ul>
    </div>


    <div class="website-by">
        <h4 class="Big">Website by : </h4>
        <br>
        <ul class="wq">
            <li>Mohamed Rabea Mohamed / 20220424</li>
            <li>Mahmoud Mustafa Anas / 20220323</li>
            <li>Ahmed Abdelaziz Ahmed / 20220025</li>
            <li>Raghd Ahmed Mohamed / 20221059</li>
            <li>Basant Shaker Ahmed / 20221037</li>
            <li>Rana Esmail Zekry Moawad / 20220131</li>
        </ul>
    </div>

</footer>
</body>
<script src="/admin/AdminJS/add_book.js"></script>
     <script src="../books/storage.js"></script>
 <script src="{% static 'myapp/js/script.js' %}"></script>


{# <script src="{% static 'js/add_book.js' %}"></script>#}
{#<script src="{% static 'js/storage.js' %}"></script>#}

</html>

