
/*content styles*/
.content{
    padding: 100px;
    padding-top: 10px;
    text-align: left;
    background-image: url("https://wallpaperaccess.com/full/934072.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
#Login{
    padding: 20px;
    margin: 20px;
    padding-left: 12px;
    font-size: 40px;
    color: cornsilk;
}
.login-form{
    max-width: 400px;
    margin:0 auto;
    padding: 20px;
    margin-left: 15px;
    border: 1px solid #4d2e24;
    border-radius: 8px;
    background-color: cornsilk;
}

/*Buttons styles*/

div label {
    font-weight: bold;
    color: #4d2e24;
}

#user_name , input[type = "password"]{
    width:100%;
    padding:10px;
    background-color: cornsilk;
    color:#4d2e24;
    border-radius: 4px;
}


input[type = "submit"]{
    width:100%;
    padding:10px;
    background-color: #4d2e24;
    color:cornsilk;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

/*checkbox style*/
.container{
    display: block;
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

.container input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }

.container label{
    cursor: pointer;
}

/*----------------------------------*/

form p {
    padding :20px;
    margin-top: 10px;
    color: #4d2e24;
    font-weight: bold;
}
